html {
    resize: none;
}

header {
    background-color: #8EECF5;
    height: 70px;
}

.TopNavContainer {
    display: inline-block;
    float: right;
}

.TopNav {
    display: inline-block;
    float: right;
    margin: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.Logo {
    display: inline-block;
    float: left;
    height: 70px;
    margin-left: 70px;
}

.Background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 100%;
    margin-bottom: 249px;
}

.bottom-left1 {
    right: 0; 
    left: 0; 
    position: absolute; 
    margin-left: auto; 
    margin-right: auto; 
    width: fit-content; 
    top: 35%; 
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 50px; 
    text-align: center; 
    color: #d336b6;
    font-weight: 900;
    font-style: italic;
    z-index: 3;
}

.bottom-left2 {
    right: 0; 
    left: 0; 
    position: absolute; 
    margin-left: auto; 
    margin-right: auto; 
    width: fit-content; 
    top: 45%; 
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 60px; 
    text-align: center; 
    color: #1759b5;
    font-weight: 900;
    font-style: italic;
    z-index: 3;
}

.Sanctuary {
    right: 0; 
    left: 0; 
    position: absolute; 
    margin-left: auto; 
    margin-right: auto; 
    width: 200px;
    height: 80px; 
    top: 60%; 
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: #90DBF4; 
    border: none; 
    box-shadow: inset 0 0 0 0 #90DBF4;
    transition: ease-out 0.3s;
    border-radius: 7px;
    color: #ffffff;
    z-index: 3;
}


.Sanctuary:hover {
    opacity: 1;
    box-shadow: inset 200px 0 0 0 #25b8e9;
}

.frame {
    position: relative;
    overflow: hidden;
    z-index: 2;
    top: 45px;
}

.container { 
    position: relative;
    text-align: center;
    object-fit: contain;
    z-index: 100; /******/
}

.Attractions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.Services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.Visitors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.Featuring {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#myBtn {
    position: fixed;
    bottom: 5%;
    float: right;
    right: 3%;
    max-width: 60px;
    max-height: 60px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    background-color: #7dbbf1;
    padding: .5px;
    border: none;
    z-index: 100;
}

/*On Hover Color Change*/
#myBtn:hover {
    background-color: #7da8f1;
}

.ContactSponsor {
    background-color: #CFBAF0;
}

img {
    display: block;
    margin: auto;
}

/*
.Featuring-Background {
    background-image: url(../projectZ/FeaturesBackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    height: 600px;
}

.Attractions-Background {
    background-image: url(../projectZ/AttractionsBackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
}

.Services-Background {
    background-image: url(../projectZ/ServicesBackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    height: relative;
}

.Visitors-Background {
    background-image: url(../projectZ/VisitorsBackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
}
*/

.text {
    width: 300px;
    display: block;
    margin: auto;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.title {
    width: 300px;
    display: block;
    margin: auto;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

#SeeAll {
    text-align: center; 
    display: block; 
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 20px;
}

#BigTitle {
    text-align: center;
    display: block;
    margin-top: 60px; 
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-decoration: none;
    font-weight: 800;
    /*
    color: #ffffff;
    */

}

.Sponsor {
    display: inline-block;
    margin: auto;
    height: 100px;
    width: 100px;
    text-align: center;
}

.Sponsor-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    margin-right: 50%;
}

.Sponsors {
    margin-left: 20px;
    margin-right: 20px;
}




/*
#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    top: 20px;
}
  
#mySidenav a:hover {
    left: 0;
}

*/

body{
    font-family: 'Lato', sans-serif;
  }
  .carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
  }
  
  .carousel-fade .carousel-inner .active {
    opacity: 1;
  }
  
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
  }
  
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
  }
  
  .carousel-fade .carousel-control {
    z-index: 2;
  } 
  @media all and (transform-3d), (-webkit-transform-3d) {
      .carousel-fade .carousel-inner > .item.next,
      .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
      }
      .carousel-fade .carousel-inner > .item.prev,
      .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
      }
      .carousel-fade .carousel-inner > .item.next.left,
      .carousel-fade .carousel-inner > .item.prev.right,
      .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
      }
  } 

      body,
      .carousel,
      .carousel-inner,
      .carousel-inner .item {
        height: 100%;
      } 
      .item:nth-child(1) {
        background: url('../projectZ/AboutPageX.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
      }
  
      .item:nth-child(2) {
        background: url('../projectZ/AboutPageY.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
      }
  
      .item:nth-child(3) {
        background: url('../projectZ/AboutPageZ.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
      }

      .carousel-control.left, .carousel-control.right {
        background-image:none !important;
        filter:none !important;
     }


/*
.svgStroke {
    color: white;
    -webkit-text-stroke: 1px black;
    fill: none;
    stroke: black;
    stroke-width: .5px;
    stroke-linejoin: round;
    font-size: 80px;
    font-style: italic;
}
*/

/* THE LINE OF CODE FOR SVG  ↓ ↓ ↓ 

.FeaturingSvg {
    position: relative;
    z-index: -1;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    margin: -300px;
    overflow: hidden;
    width: 200px;
}

.svgStrokeF {
    color: #1759b5;
    fill: #1759b5;
    stroke: none;
    font-size: 80px;
    font-style: italic;
}

*/
svg {
    margin: 0;
}

#FeaturingSvg {
    position: absolute;
}

.background-text {
    color: #ffffff77;
    stroke: none;
    font-size: 265px;
    letter-spacing: -10px;
    font-style: italic;
    position: absolute;
    margin: 0 auto;
    overflow: hidden; 
    font-weight: 900;
    font-family: 'Noto Sans JP', sans-serif;
}

.background-text-bigger {
    color: #ffffff77;
    stroke: none;
    font-size: 225px;
    letter-spacing: -10px;
    font-style: italic;
    position: absolute;
    margin: 0 auto;
    overflow: hidden; 
    text-overflow: clip;
    font-weight: 900;
    font-family: 'Noto Sans JP', sans-serif;
}

.GradientBackground {
    background: linear-gradient(#F1C0E8, #FFCFD2 25%, #FBF8CC 50%, #B9FBC0 60%, #90DBF4 80%);
}

::placeholder {
    text-align: center;
}