header {
    background-color: #8EECF5;
    height: 70px;
}

.TopNav {
    display: inline-block;
    float: right;
    margin: 20px;
    color: white;
}

.Logo {
    display: inline-block;
    float: left
}

.Background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 100%;
}

.container { 
    position: relative;
    text-align: center;
    object-fit: contain;
}

.Attractions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.Services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.Visitors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.Featuring {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#myBtn {
    position: fixed;
    bottom: 5%;
    float: right;
    right: 3%;
    max-width: 60px;
    max-height: 60px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    border-color: rgba(85, 85, 85, 0.2);
    background-color: rgb(100,100,100);
    padding: .5px;
}

/*On Hover Color Change*/
#myBtn:hover {
    background-color: #7dbbf1;
}

.Contact {
    background-color: #CFBAF0;
}

img {
    display: block;
    margin: auto;
}

.Featuring-Background {
    background-image: url(../project2/star.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    display: block;
}

.Attractions-Background {
    background-image: url(../project2/Attractions.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    display: block;
}

.Services-Background {
    background-image: url(../project2/Service.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 474px;  /* Size of image does not change*/
    display: block;
}

.Visitors-Background {
    background-image: url(../project2/video.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 474px;
    display: block;
}

.text {
    width: 300px;
    display: block;
    margin: auto;
    text-decoration: none;
}

.title {
    width: 300px;
    display: block;
    margin: auto;
    text-decoration: none;
}

.Sponsors {
    display: inline-block;
    margin: auto;
    height: 100px;
    width: 100px;
    text-align: center;
}

/*
.Sponsor-Container { 
    position: relative;
    margin: auto;
    object-fit: contain;
    justify-content: center;
}
*/

.Sponsor-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    margin-right: 50%;
}

.Sponsors {
    margin-left: 20px;
    margin-right: 20px;
}


/*
#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    top: 20px;
}
  
#mySidenav a:hover {
    left: 0;
}

*/